
core
*.so
*.cls
*.pyc
*.npz
*.csv
*.bak
*.o
*.pyf
*.dat
*.swp
*.py.swp
.*.py.swp
out
*__genmod.f90
*__genmod.mod
*.lib
*.exp
*.pyf
*.pyd
*.dll
explore
explore/*



backend/msh/*.msh
backend/msh/*.mail
backend/msh/build/*

backend/fortran/nb_build_config.txt
backend/fortran/build/*
backend/fortran/mbuild_*
backend/fortran/src/*.pdf

josab_tutorial/*.png
lit_examples/*.png
tutorials/*.png
tutorials/*.txt

tutorials/tut_*/*
lit_examples/lit_*/*
josab_tutorial/josab_*/*

josab_tutorial/*-fields
lit_examples/*-fields
tutorials/*-fields


docs/build/*
*.mod
*.so

tutorials/.sim-tut_17-rotations.py.swp
tutorials/core*
tutorials/tut_03b-disp
tutorials/roumani.py
backend/fortran/.hgignore
backend/fortran/.ninja_deps
backend/fortran/build.ninja
backend/fortran/.ninja_log

docs/source/images/tutorial/*
docs/source/images/josab_tutorial/*
docs/source/images/josab_tutorial/josab_01-fields/*.png
docs/source/images/josab_tutorial/josab_01-fields/*

docs/source/images/lit_examples/*
docs/source/images/meshes/*
docs/source/images/*.png

