
core
core.*
*.so
*.cls
*.pyc
*.npz
*.csv
*.bak
*.o
*.pyf
*.dat
*.swp
*.py.swp
.*.py.swp
out
*__genmod.f90
*__genmod.mod
*.lib
*.exp
*.pyf
*.pyd
*.dll
explore
explore/*



backend/msh/*.msh
backend/msh/*.mail
backend/msh/build/*

backend/fortran/nb_build_config.txt
backend/fortran/build/*
backend/fortran/mbuild_*
backend/fortran/src/*.pdf

examples/josab_tutorial/*.png
examples/lit_examples/*.png
examples/tutorials/*.png
examples/tutorials/*.txt
examples/tutorials/tut_03b-disp

examples/tutorials/tut_*/*
examples/lit_examples/lit_*/*
examples/josab_tutorial/josab_*/*

examples/josab_tutorial/*-fields
examples/lit_examples/*-fields
examples/tutorials/*-fields


docs/build/*
*.mod
*.so

backend/fortran/.hgignore
backend/fortran/.ninja_deps
backend/fortran/build.ninja
backend/fortran/.ninja_log

#docs/source/images/josab_tutorial/josab_01-fields/*.png
#docs/source/images/josab_tutorial/josab_01-fields/*

#docs/source/images/tutorial/**
#docs/source/images/josab_tutorial/**
#docs/source/images/lit_examples/**
#docs/source/images/meshes/*
#docs/source/images/*.png

